<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login page</title>
    <link href="{{url_for('static', filename='main.css')}}" type="text/css" rel="stylesheet"/>
</head>
<body>
    <h1>User login</h1>
    <form method="POST">
        <table>
            <tr>
                <td>User: </td><td>{{userform.login}}</td>
                {% if userform.login.errors %}
                    {% for error in userform.login.errors %}
                        <tr><td colspan="2" style="text-align:right"><span class="val">{{error}}</span></td></tr>
                    {% endfor %}
                {% endif %}
            </tr>
             <tr>   
                <td>Password: </td><td>{{userform.password}}</td>
                {% if userform.password.errors %}
                {% for error in userform.password.errors %}
                    <tr><td colspan="2" style="text-align:right"><span class="val">{{error}}</span></td></tr>
                {% endfor %}
                {% endif %}
            </tr>
            <tr>
                <td colspan="2" style="text-align: center"><input type="submit" value="Log in"></td>
            </tr>
        </table>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <span class='error'>{{message}}</span>
                {% if category == 'UU' %}
                {% endif %}
            {% endfor%}
        {% endif %}
    {% endwith %}
    <a href="{{url_for('signin')}}">sign up here</a>
</body>
</html>