<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
    <title>Sign up page</title>
</head>
<body>
    <form method="POST">
        <table>
            <tr>
                <td>User name: </td><td>{{signupform.login}}</td>
                {% if signupform.login.errors %}
                {% for error in signupform.login.errors %}
                    <tr><td colspan="2" style="text-align:right"><span class="val">{{error}}</span></td></tr>
                {% endfor %}
                {% endif %}
            </tr>
            <tr>
                <td>Password: </td><td>{{signupform.password}}</td>
                {% if signupform.password.errors %}
                {% for error in signupform.password.errors %}
                    <tr><td colspan="2" style="text-align:right"><span class="val">{{error}}</span></td></tr>
                {% endfor %}
                {% endif %}
            </tr>
            <tr>
                <td>Confirm password: </td><td>{{signupform.pwdcheck}}</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center"><input type="submit" value='Sign up'></td>
            </tr>
        </table>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <span class='error'>{{message}}</span>
            {% endfor%}
        {% endif %}
    {% endwith %}
    </form>
</body>
</html>