<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up page</title>
</head>
<body>
    <form method="POST">
        <table>
            <tr>
                <td>User name: </td><td>{{signupform.login}}</td>
            </tr>
            <tr>
                <td>Password: </td><td>{{signupform.password}}</td>
            </tr>
            <tr>
                <td>Password again: </td><td>{{signupform.pwdcheck}}</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center"><input type="submit" value='Sign up'></td>
            </tr>
        </table>
    </form>
</body>
</html>